@model IEnumerable<Cuentas.WebApplication.Controllers.CuentaVigenteVista>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeActualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMoneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEntidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeActualizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMoneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEntidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }

</table>
